# Tracking User Engagement

The first half of 2022 was expected to be profitable for the company. The reason was the hypothesized increased student engagement after the release of several new features on the companyâ€™s website at end-2021. These include enrolling in career tracks and testing your knowledge through practice, course, and career track exams. Of course, we have also expanded our course library to increase user engagement and the platformâ€™s audience as more topics are covered. By comparing different metrics, we can measure the effectiveness of these new features and the overall engagement of our users.

## Tasks

### Creating a View
1. **Calculating a Subscriptionâ€™s End Date** Use the `student_purchases` table from the data_scientist_project database to create a result set with the following columns:
    - `purchase_id`
    - `student_id`
    - `plan_id`
    - `date_start`
    - `date_end`
    - `date_refunded`
The `date_start` column is the renamed `date_purchased` column from the database, adjusted for consistency with the subsequent `date_end` column.
To calculate the end date of a subscription (`date_end`), add one month, three months, or 12 months to the start date of a subscription for a Monthly (represented as 0 in the `plan_id` column), Quarterly (1), or an Annual (2) purchase, respectively.
The only exception is the lifetime subscription (denoted by 3), which has no end date. Refunds will be handled in the following task:   
2. **Re-Calculating a Subscriptionâ€™s End Date**
3. **Creating Two â€˜paidâ€™ Columns and a MySQL View**

In [3]:
######### Setup #########

# db connection details
user = 'data_science_user'
password = 'data_science_password'
host = 'localhost'
port = '3306'
database = 'data_scientist_project'

# create connection
connection_string = f'mysql+mysqlconnector://{user}:{password}@{host}/{database}'

%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%load_ext sql
%sql $connection_string

# show details for the tables in the database
columns_query = f'''
SELECT column_name, table_name, data_type
FROM information_schema.columns 
WHERE table_schema = "{database}" 
ORDER BY table_name, ordinal_position
'''
table_info = %sql $columns_query;

columns_df = table_info.DataFrame()
print(columns_df)

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql+mysqlconnector://data_science_user:***@localhost/data_scientist_project
21 rows affected.
        COLUMN_NAME             TABLE_NAME DATA_TYPE
0       purchase_id         purchases_info       int
1        student_id         purchases_info       int
2           plan_id         purchases_info   tinyint
3        date_start         purchases_info      date
4          date_end         purchases_info   varchar
5      paid_q2_2021         purchases_info       int
6      paid_q2_2022         purchases_info       int
7    certificate_id   student_certificates       int
8        student_id   student_certificates       int
9       date_issued   student_certificates      date
10       student_id           student_info       int
11  date_registered           student_info      date
12      purchase_id      student_purchases       int
13       student_id      student_purchases       int
14          plan_id      student_purchases   tinyint
15   date_purchased      student_purchases      date
16    date_refunded      student_purchases      date
17       student_id  student_video_watched       int
18        course_id  student_video_watched       int
19  seconds_watched  student_video_watched       int
20     date_watched  student_video_watched      date

In [ ]:
######### Data View #########
# The data view is a stored view that describes student purchases. It includes the following columns:
# - purchase_id: the unique identifier of the purchase
# - student_id: the unique identifier of the student
# - plan_id: the identifier of the plan purchased (0, 1, 2, or 3)
# - date_start: the start date of the purchase
# - date_end: the end date of the purchase (if the purchase was refunded, this is the date of the refund)
# - paid_q2_2021: a flag indicating whether the purchase was active in Q2 2021 (1 for active, 0 for inactive)
# - paid_q2_2022: a flag indicating whether the purchase was active in Q2 2022 (1 for active, 0 for inactive)

%%sql

-- Clean out the stored view
DROP VIEW IF EXISTS purchases_info;

-- View, describing student purchases
CREATE VIEW purchases_info AS 
SELECT 
	purchase_id,
	student_id,
	plan_id,
	date_start,
	date_end,
	CASE 
		WHEN date_start <= '2021-04-01' THEN 0
		WHEN date_start >= '2021-06-30' THEN 0
		ELSE 1
	END AS paid_q2_2021,
	CASE 
		WHEN date_start <= '2022-04-01' THEN 0
		WHEN date_start >= '2022-06-30' THEN 0
		ELSE 1
	END AS paid_q2_2022
FROM (
	SELECT
		purchase_id,
		student_id,
		plan_id,
		date_start,
		IF(
			date_refunded IS NULL,
			date_end,
			date_refunded
		) AS date_end
	FROM (
		SELECT 
			purchase_id,
			student_id,
			plan_id,
			date_purchased AS date_start,
			CASE 
				WHEN plan_id = 0 THEN DATE_ADD(date_purchased, INTERVAL 1 MONTH)
				WHEN plan_id = 1 THEN DATE_ADD(date_purchased, INTERVAL 3 MONTH)
				WHEN plan_id = 2 THEN DATE_ADD(date_purchased, INTERVAL 1 YEAR)
				WHEN plan_id = 3 THEN '9999-12-31'
			END AS date_end,
			date_refunded
		FROM 
			data_scientist_project.student_purchases
	) AS a
) AS b;

 * mysql+mysqlconnector://data_science_user:***@localhost/data_scientist_project
(mysql.connector.errors.ProgrammingError) 1227 (42000): Access denied; you need (at least one of) the SYSTEM_USER privilege(s) for this operation
[SQL: -- Clean out the stored view
DROP VIEW IF EXISTS purchases_info;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
######### CSV files #########
# Save the results to a CSV file in the data/csv folder with the following naming convention: minutes_watched_{year}_paid_{is_paid}.csv
# The CSV files should contain the following columns:
# - student_id: the unique identifier of the student
# - minutes_watched: the total number of minutes watched by the student in the given quarter
# - paid_in_q2: a flag indicating whether the student was paid in the given quarter (1 for paid, 0 for unpaid)
#
# Files should be saved in the data/csv folder

import os

# Save the results to a CSV file in the data/csv folder with the following naming convention: minutes_watched_{year}_paid_{is_paid}.csv
for year in [2021, 2022]:
    for is_paid in [0, 1]:
        query = f'''
        SELECT 
            watched.student_id,
            watched.minutes_watched,
            IF(info.paid_q2_{year}, 1, 0) AS paid_in_q2
        FROM (
            SELECT 
                student_id,
                ROUND(SUM(seconds_watched) / 60, 2) AS minutes_watched
            FROM 
                student_video_watched svw 
            WHERE
                date_watched >= "{year}-04-01" AND date_watched <= "{year}-06-30"
            GROUP BY 
                student_id
        ) AS watched
        LEFT JOIN 
            purchases_info AS info ON watched.student_id = info.student_id
        WHERE 
            info.paid_q2_{year} = {is_paid}
        GROUP BY
            watched.student_id
        '''
        result = %sql $query;

        filename = f'minutes_watched_{year}_paid_{is_paid}.csv'
        filepath = f'./data/csv/'
        # Create the folder if it doesn't exist
        if not os.path.exists(filepath):
            os.makedirs(filepath)

        filepath += filename
        result_df = result.DataFrame()
        result_df.to_csv(filepath, index=False)
        print(f'ðŸ’½ Saved {filename}')

 * mysql+mysqlconnector://data_science_user:***@localhost/data_scientist_project
2091 rows affected.
ðŸ’½ Saved minutes_watched_2021_paid_0.csv
 * mysql+mysqlconnector://data_science_user:***@localhost/data_scientist_project
1060 rows affected.
ðŸ’½ Saved minutes_watched_2021_paid_1.csv
 * mysql+mysqlconnector://data_science_user:***@localhost/data_scientist_project
2211 rows affected.
ðŸ’½ Saved minutes_watched_2022_paid_0.csv
 * mysql+mysqlconnector://data_science_user:***@localhost/data_scientist_project
1028 rows affected.
ðŸ’½ Saved minutes_watched_2022_paid_1.csv